<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<Directory "/Users/nangkhinohn/Documents/GitHub/GiveAway/webroot/css">
    Options Indexes FollowSymLinks
    AllowOverride All # Crucial for .htaccess to work
    Require all granted
</Directory>